main_interface/bin/
main_interface/obj/
main_interface/.vs/

# Ignore build output everywhere
**/bin/
**/obj/

# Visual Studio
.vs/
**/.vs/


[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

# Visual Studio
.vs/
*.user
*.suo

# Build artifacts
*.dll
*.exe
*.pdb
*.xbf
*.pri
*.cache
*.txt
*.xml